/* CSS Specificity: CSS rules which are narrower in scope take "priority" over others. 
   Hierarchy: inline style > id > class > element > universal(*)

   Note: For conflicting CSS rules with the same specificity, CSS rules that are physically written later take
   precedence over previous rules.
*/

p{  
  color:green;
}

.red{
  color:red;
}

.black{
  color:black;
}

#blue_underlined{
  color:blue;
  text-decoration: underline;
}

#large_font{
  font-size:20pt;
}
#cyan{
  color:cyan;
}

img{
  height:150px;
}

.border_red{
  border:2px solid red;
}

#shadow_yellow{
  box-shadow:5px 5px yellow;
}

